.gear-width {
    width: 400px; /* set the desired width */
  }

.enchant-width {
    width: 150px; /* set the desired width */
  }

datalist {
    display: none;
  }


.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
  
}

.center2 {
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
  
}

.powerResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #FF8400;
    -webkit-text-stroke: 1.2px;
}

.defenseResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #737373;
    -webkit-text-stroke: 1.2px;
}

.agilityResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-color: #00ffff;
}

.attackSpeedResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-color: #0077ff;
}

.attackSizeResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #00FF00;
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-color: #471559;
}

.intensityResult {

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-text-fill-color: #FFF200;
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-color: #712402;
}


img{
    height: 1.5em;
}

.pagebackground {
    
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}